<div class="mat-app-background basic-container">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><button mat-raised-button class="example-button">Contact Page</button>
      <button mat-raised-button class="example-button">Form Page</button></span>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>contact_mail</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
  </mat-toolbar>
</div>