<div class="basic-container">
  <mat-card class="header-card">
    <mat-card-title>
      <h1>Survey Questionnaire</h1>
    </mat-card-title>
    <mat-card-content>
      <p align="justify">To proceed with this task, please first answer the following questions to the
        best of your ability</p>
    </mat-card-content>


    <mat-stepper linear #stepper>
      <!-- <ng-template matStepperIcon="edit">
        <mat-icon>menu_book</mat-icon>
      </ng-template> -->
      <mat-step state="instruction">
        <!-- <ng-template matStepLabel>The Task</ng-template> -->
        <br>
        <mat-card-content align="justify">
          <p class="instruction-text" style="font-size: 14pt;">
            For each of the following statements, please indicate the extent to which you agree with it.
          </p>
          <p class="instruction-text" style="font-size: 14pt;">
            <em>The scale ranges from 1-5, where 1 is ‘strongly disagree’ and 5 is ‘strongly agree’. 6 is 'no
              response'</em>
          </p>

          <br>

          <ol type="1">
            <li>
              <p class="list-text"><strong>The system is capable of interpreting situations correctly.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[0]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>The system state was always clear to me.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[1]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>I already know similar systems.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[2]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>The developers are trustworthy.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[3]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>One should be careful with unfamiliar automated systems.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[4]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>The system works reliably.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[5]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>The system reacts unpredictably.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[6]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>The developers take my well-being seriously.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[7]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>I trust the system.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[8]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>A system malfunction is likely.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[9]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>I was able to understand why things happened.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[10]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>I rather trust a system than I mistrust it.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[11]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>The system is capable of taking over complicated tasks.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[12]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>I can rely on the system.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[13]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>The system might make sporadic errors.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[14]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>It’s difficult to identify what the system will do next.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[15]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>I have already used similar systems.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[16]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>Automated systems generally work well.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[17]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>I am confident about the system’s capabilities.</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="trustauto[18]">
                <mat-radio-button class="example-radio-button" *ngFor="let likert of likertOptions, index as i"
                  [value]="i+1">
                  <span>{{likert}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

          </ol>

        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperNext [disabled]="showElementTrustAuto()">Next Page</button>
        </mat-card-actions>
      </mat-step>

      <mat-step state="instruction">
        <!-- <ng-template matStepLabel>The Task: Examples</ng-template> -->
        <br>
        <mat-card-content align="justify">

          <ol type="1">
            <li>
              <p class="list-text"><strong>Do you think responders will take the availability of a decision-support system or an
                autonomous agent into consideration when deciding which proposer to approach?</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="respondersTakeDSSForDecidingProposer">
                <mat-radio-button class="example-radio-button" value=1>Yes</mat-radio-button>
                <mat-radio-button class="example-radio-button" value=0>No</mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>If you had the choice, which type of proposer would you choose to be?</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="whichProposerYouChooseToBe">
                <mat-radio-button class="example-radio-button" *ngFor="let proposer of proposerTypes, index as i"
                  [value]="i+1">
                  <span>{{proposer}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>If you were a responder, which proposer would you approach?</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="asAResponderWhichProposerWouldYouApproach">
                <mat-radio-button class="example-radio-button" *ngFor="let proposer of proposerTypes, index as i"
                  [value]="i+1">
                  <span>{{proposer}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="list-text"><strong>Which proposer do you think most responders approach?</strong></p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                [(ngModel)]="proposerMostRespondersApproach">
                <mat-radio-button class="example-radio-button" *ngFor="let proposer of proposerTypes, index as i"
                  [value]="i+1">
                  <span>{{proposer}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="instruction-text">
                <strong>For each of the following statements, please indicate the extent to which you agree or disagree with
                that statement.</strong>
              </p>
              <p class="instruction-text" style="font-size: 13pt;">
                <em>The scale ranges from 1-7, where 1 is ‘strongly disagree’ and 7 is ‘strongly agree.’</em>
              </p>

              <br>

              <p class="list-text"><strong>I think responders ...</strong></p>
              <ol type="i">
                <li>
                  <p class="list-text"><strong>find the fact that one proposer uses a decision-support system unfair</strong></p>
                  <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                    [(ngModel)]="iThinkResponders[0]">
                    <mat-radio-button class="example-radio-button" *ngFor="let likert of otherlikertOptions, index as i"
                      [value]="i+1">
                      <span>{{likert}}</span>
                    </mat-radio-button>
                  </mat-radio-group>
                </li>
                <li>
                  <p class="list-text"><strong>find the fact that one proposer has an autonomous agent that plays on their
                    behalf unfair</strong></p>
                  <mat-radio-group aria-labelledby="example-radio-group-label" class="likert-scale"
                    [(ngModel)]="iThinkResponders[1]">
                    <mat-radio-button class="example-radio-button" *ngFor="let likert of otherlikertOptions, index as i"
                      [value]="i+1">
                      <span>{{likert}}</span>
                    </mat-radio-button>
                  </mat-radio-group>
                </li>
              </ol>
            </li>
          </ol>

        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" matStepperNext
            [disabled]="secondPageButton()">Next Page</button>
        </mat-card-actions>
      </mat-step>


      <mat-step state="instruction">
        <!-- <ng-template matStepLabel>The Task: Examples</ng-template> -->
        <br>
        <mat-card-content align="justify">
          <h2>
            <strong>Demographics</strong>
          </h2>
          <br>

          <ol type="1">

            <li>
              <p class="instruction-text">
                What is your sex?
              </p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="sex"
                required>
                <mat-radio-button class="example-radio-button" *ngFor="let sex of sexOptions" [value]=sex>
                  <span>{{sex}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="instruction-text">
                What is your age?
              </p>
              <mat-form-field class="example-age" appearance="outline" required>
                <mat-label>Age</mat-label>
                <input matInput [(ngModel)]="age" type="number" min="1">
              </mat-form-field>
            </li>

            <br>

            <li>
              <p class="instruction-text">
                Which statement best describes your current employment status?
              </p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="employmentStatus" required>
                <mat-radio-button class="example-radio-button" *ngFor="let employment of employmentOptions"
                  [value]=employment>
                  <span>{{employment}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>

            <br>

            <li>
              <p class="instruction-text">
                What is the highest level of school you have completed or the highest degree you have received?
              </p>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="highestDegree" required>
                <mat-radio-button class="example-radio-button" *ngFor="let degree of degreeOptions" [value]=degree>
                  <span>{{degree}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </li>
          </ol>

        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="nextSection()"
            [disabled]="showElementDemo()">Proceed</button>
        </mat-card-actions>
      </mat-step>

      <ng-template matStepperIcon="instruction">
        <mat-icon>menu_book</mat-icon>
      </ng-template>
    </mat-stepper>
  </mat-card>
</div>