<div class="basic-container">
  <mat-card class="header-card">
    <mat-card-title>
      <h1>Approach Decision and Minimum Offer - Reminder</h1>
    </mat-card-title>
    <!-- <mat-card-content>
      <p align="justify">To ensure your understanding, the main task will commence only after you answered three
        comprehension questions
        correctly. If you fail to do so twice, you will not be able to participate in the experiment.</p>
    </mat-card-content> -->


    <mat-stepper linear #stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon>menu_book</mat-icon>
      </ng-template>


      <mat-step state="instruction">
        <ng-template matStepLabel>Approach Decision and Bargain - Reminder</ng-template>
        <br>
        <mat-card-content align="justify">
          <h2>
            Approach Decision and Bargain - Reminder
          </h2>

          <h2>
            You will now choose which Proposer to approach and to bargain with.
          </h2>

          <p class="instruction-text"><strong>Remember:</strong></p>

          <ul>
            <li>
              <p class="instruction-text">One Proposer completes this task alone and without any help</p>
            </li>

            <li>
              <p class="instruction-text">One Proposer has an AI-System to assist them in making a decision</p>
            </li>

            <li>
              <p class="instruction-text">One Proposer is substituted by the AI-System that makes a decision on their
                behalf. The Proposer still receives the potential payoff from this task, but the decision is made
                autonomously by the AI-System.</p>
            </li>
          </ul>

          <br>

          <p class="instruction-text">The AI-System (Machine-Learning) was trained using prior interactions of
            comparable bargaining situations and participant personality data.</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperNext>Next Page</button>
        </mat-card-actions>
      </mat-step>


      <mat-step state="instruction">
        <ng-template matStepLabel>Minimum Offer Decision- Reminder</ng-template>
        <br>
        <mat-card-content align="justify">
          <h2>
            Minimum Offer Decision- Reminder
          </h2>

          <p class="instruction-text"><strong>Remember:</strong></p>

          <p class="instruction-text">You will now choose the minimum offer you are still willing to accept, i.e. the
            least favorable Allocation you are willing to accept in your bargain with the Proposer”. Allocations
            offering you less are rejected, Allocations offering you the same or more income are accepted and the
            Proposer receives the respective share of their offered split.</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="nextSection()">Proceed to the Bargaining Task</button>
        </mat-card-actions>
      </mat-step>

      <ng-template matStepperIcon="instruction">
        <mat-icon>menu_book</mat-icon>
      </ng-template>
    </mat-stepper>
  </mat-card>
</div>