<div class="table-container">
  <h1>Expectation task.</h1>
  <p align="justify">You will choose a row for all <strong>6</strong> scenarios. Afterwards, you proceed to the next
    section. You can see the Allocation of each respective scenario below. Remember that each of the <strong>6</strong> decisions you are
    about to make might be randomly chosen by the computer to determine the probability of receiving the fixed bonus reward of 250
    coins.</p>
  <!-- <p>You are a <strong>{{type_work_name}}</strong>. You will need to answer <strong>{{lenlist}}</strong> questions.</p>
  <p>Make sure to answer all the questions to the best of your understanding!</p> -->

  <h2>Table with Probabilites</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 beliefprobabilities">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> <strong>Row No.</strong> </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="plarger">
      <th mat-header-cell *matHeaderCellDef> <strong>Probability of reward if Responder accepts Allocation #</strong>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.plarger | number: '1.4-4'}} </td>
    </ng-container>

    <ng-container matColumnDef="plower">
      <th mat-header-cell *matHeaderCellDef> <strong>Probability of reward if Responder rejects Allocation #</strong>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.plower | number: '1.4-4'}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="p">
      <th mat-header-cell *matHeaderCellDef> <strong>p</strong> </th>
      <td mat-cell *matCellDef="let element"> {{element.p | number: '1.4-4'}} </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns | slice:0:3"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns | slice:0:3;"></tr>
  </table>

  <h2>Reminder for the Allocations: </h2>
  <table mat-table [dataSource]="allocationDataSource" class="mat-elevation-z1 allocations">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} <span
          *ngIf="element.name == type_work_name"><strong>(You)</strong></span> </td>
    </ng-container>

    <ng-container matColumnDef="al1">
      <th mat-header-cell *matHeaderCellDef> Allocation 1 </th>
      <td mat-cell *matCellDef="let element"> {{element.al1}} </td>
    </ng-container>

    <ng-container matColumnDef="al2">
      <th mat-header-cell *matHeaderCellDef> Allocation 2 </th>
      <td mat-cell *matCellDef="let element"> {{element.al2}} </td>
    </ng-container>

    <ng-container matColumnDef="al3">
      <th mat-header-cell *matHeaderCellDef> Allocation 3 </th>
      <td mat-cell *matCellDef="let element"> {{element.al3}} </td>
    </ng-container>

    <ng-container matColumnDef="al4">
      <th mat-header-cell *matHeaderCellDef> Allocation 4 </th>
      <td mat-cell *matCellDef="let element"> {{element.al4}} </td>
    </ng-container>

    <ng-container matColumnDef="al5">
      <th mat-header-cell *matHeaderCellDef> Allocation 5 </th>
      <td mat-cell *matCellDef="let element"> {{element.al5}} </td>
    </ng-container>

    <ng-container matColumnDef="al6">
      <th mat-header-cell *matHeaderCellDef> Allocation 6 </th>
      <td mat-cell *matCellDef="let element"> {{element.al6}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="allocationColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: allocationColumns;"></tr>
  </table>

  <!-- <mat-divider></mat-divider> -->
  <!-- <br> -->

  <ngb-carousel [interval]="0">
    <ng-template ngbSlide *ngFor="let control of questionsFormArray.controls; index as i">
      <div class="internal-card">
        <mat-card class="home-card">
          <mat-card-title>
            Decision
          </mat-card-title> <br>
          <mat-card-subtitle style="color: #3700b3; font-weight: bold; font-size: medium; margin: 5px;">
            [Click on the right arrow to move onto the next scenario. You can use the left arrow (<) to go back to a
              previous scenario.] </mat-card-subtitle>
              <br>
              <mat-card-content>
                <p class="qs-num"><strong>Q{{i+1}}/{{lenlist}}.</strong></p>
                <!-- <div *ngIf="type_work==0">
                  <p class="proposer-type">Proposer is: <strong>{{proposerType[(i-i%6)/6]}}</strong></p>
                  <p class="allocation-number">Expectation regarding the Proposer’s offer in comparison to
                    <strong>Allocation {{i%6+1}}</strong>
                  </p>
                </div>
                <div *ngIf="type_work==1"> -->
                  <!-- <p class="responder-type">Responder type is: Responder</p> -->
                  <p class="allocation-number">Expectation regarding the Responder's minimum offer (acceptance) for
                    <strong>Allocation {{i%6+1}}</strong>
                  </p>
                <!-- </div> -->
              </mat-card-content>
              <mat-card-actions align="end">
                <mat-form-field class="example-form-field" appearance="outline">
                  <mat-label>Enter Row Number</mat-label>
                  <input matInput type="number" [formControl]="$any(questionsFormArray.controls[i])">
                  <mat-hint>Enter a number between 1 and 21(both inclusive)</mat-hint>
                  <mat-error *ngIf="questionsFormArray.controls[i].hasError('required')"> Row Number is required!
                  </mat-error>
                  <mat-error
                    *ngIf="(questionsFormArray.controls[i].hasError('min') || questionsFormArray.controls[i].hasError('max')) && !questionsFormArray.controls[i].hasError('required')">
                    Row number must be between 1 and 21 (inclusive)
                  </mat-error>
                </mat-form-field>
              </mat-card-actions>
        </mat-card>
        <pre>Rows selected: [{{questionsFormArray.value | slice:0:i}}<strong><span *ngIf="i!=0">,</span>{{questionsFormArray.value[i]}}</strong><span *ngIf="i!=lenlist-1">,</span>{{questionsFormArray.value | slice:i+1}}]</pre>
      </div>
    </ng-template>
  </ngb-carousel>
  <button class="submit-belief" mat-raised-button color="primary"
    [disabled]="questionsFormArray.status=='INVALID' || beliefSubmitted" (click)="submitBeliefs()">Submit all row
    selections</button>
  <button class="submit-belief" mat-raised-button color="accent" [disabled]="!beliefSubmitted"
    (click)="nextSection()">Next Section</button>
</div>