table {
  width: 100%;
}

h1 {
  /* color: #5a37b8; */
  color: #3700b3;
  margin: 10px;
  font-size: 20pt;
}

h2 {
  /* color: #6d50be; */
  color: #3600b3d2;
  margin: 10px;
  margin-top: 20px;
  font-size: 15pt;
}

p {
  color: #db5151e1;
  margin: 10px;
  font-size: large;
}

.home-card {
  width: 100%;
  /* background-color: #6d50be; */
}

table {
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.table-container {
  margin-top: 5px;
  padding-bottom: 10%;
  margin-left: 16.5%;
  margin-right: 16.5%;
}

.internal-card {
  margin-left: 4%;
  margin-right: 4%;
  /* padding-bottom: 5px; */
}

.allocations {
  /* background-color: rgb(248, 248, 248); */
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.beliefprobabilities {
  /* background-color: rgb(248, 248, 248); */
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.example-form-field {
  width: 50%;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.submit-belief {
  float: right;
  display: inline-flex;
  margin-right: 4%;
}

.mat-column-plarger {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-plower {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media only screen and (max-width: 768px) {
  .table-container {
    padding-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .internal-card {
    margin-left: 4%;
    margin-right: 4%;
    /* padding-bottom: 5px; */
  }

  .allocations th {
    font-size: 7pt;
  }

  .example-form-field {
    width: 300px;
    margin: 5px;
  }
}
