h1 {
  /* color: #5a37b8; */
  color: #3700b3;
  margin: 10px;
  font-size: 20pt;
}

p {
  color: #db5151e1;
  margin: 10px;
  font-size: large;
}

.basic-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
}

.instructions {
  margin: 5px;
  max-width: fit-content;
}

.header-card {
  border-top: 5px solid #f4511e;
  border-bottom: none;
}

.next-section {
  margin: 5px;
  max-width: fit-content;
}

.instruction-text {
  margin-right: 3%;
  margin-left: 3%;
  color: rgba(13, 19, 46, 0.973);
  font-size: 12pt;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

@media only screen and (max-width: 992px) {
  .basic-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
  }
  .instructions {
    margin: 5px;
    max-width: fit-content;
    font-size: 9pt;
  }

  .next-section {
    margin: 5px;
    max-width: fit-content;
    font-size: 9pt;
  }

  .instruction-text {
    margin-right: 0%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 768px) {
  .basic-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
  }

  .instructions {
    margin: 5px;
    max-width: fit-content;
    font-size: 8pt;
  }

  .next-section {
    margin: 5px;
    max-width: fit-content;
    font-size: 8pt;
  }

  .instruction-text {
    margin-right: 0%;
    margin-left: 0%;
  }
}
