<div class="basic-container">
  <mat-card class="header-card">
    <mat-card-title>
      <h1>Please read the following instructions carefully.</h1>
    </mat-card-title>
    <mat-card-content>
      <p align=justify>To ensure your understanding, the main task will commence only after you answered
        <strong>two</strong> more comprehension
        questions correctly. If you fail to do so twice, you will not be able to participate in the experiment.
      </p>
    </mat-card-content>


    <mat-stepper linear #stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon>menu_book</mat-icon>
      </ng-template>

      <mat-step state="instruction">
        <ng-template matStepLabel>Expectation task</ng-template>
        <br>
        <mat-card-content align="justify">
          <h2>
            Expectation task
          </h2>

          <p class="instruction-text">Before learning about your proposer type (Alone, AI-System assistance, Autonomous
            AI-System) and making an offer to your Responder, you will state your expectations about how your Responder
            will decide for each possible Allocation and proposer type. Thus, you will state your expectations for 18
            different scenarios. You can earn an additional fixed bonus payment of 250 coins.</p>

          <p class="instruction-text">For all 18 scenarios, you will see the same table with two columns and 21 rows
            (see “Decision table” on the next page). Each row shows you two possible probabilities of receiving the
            bonus. Your job is to choose one of the 21 rows.
          </p>

          <p class="instruction-text">Which one of the two probabilities given in each row will be selected to determine
            your bonus depends on the Responder’s decision. If the Responder chose a minimum split accepting <em>less or
              the
              same amount of money</em> compared to the Allocation in your respective scenario, the left column will
            determine
            your probability of receiving the fixed reward. If the Responder chose a minimum split only accepting more
            than the Allocation in your respective scenario, the right column will determine your probability of
            receiving the fixed reward.</p>

          <br>
          <p class="instruction-text">
            When choosing a row, note that:
          </p>

          <ul>
            <li>
              <p class="instruction-text">the first rows offer you a higher probability of receiving the bonus in case
                the Responder’s minimum offer is lower or equal to their income according to the Allocation you are
                making a decision for.</p>
            </li>

            <li>
              <p class="instruction-text">the last rows offer you a higher probability of receiving the bonus in case
                the Responder’s minimum offer is higher than their income according to the Allocation you are making a
                decision for.
              </p>
            </li>
          </ul>
          <br>

          <p class="instruction-text">
            Thus, for a given Allocation, if you think the Responder will ask for at most as much money as indicated in
            the Allocation, you should focus more on the probabilities shown in the left column.
          </p>

          <p class="instruction-text">
            At the end of the experiment, a computer will randomly choose one of the six scenarios that correspond to
            your proposer type. The randomly chosen scenario determines whether you receive the additional 250 coins.
            Thus, right now, every scenario could be the one that determines your bonus.
          </p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperNext>
            Next Page
          </button>
        </mat-card-actions>
      </mat-step>

      <mat-step state="instruction">
        <ng-template matStepLabel>Decision table</ng-template>
        <br>
        <mat-card-content align="justify">
          <h2>
            Decision table:
          </h2>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 beliefprobabilities">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> <strong>Row No.</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="plarger">
              <th mat-header-cell *matHeaderCellDef> <strong>Probability of reward if Responder accepts Allocation
                  #</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.plarger | number: '1.4-4'}} </td>
            </ng-container>

            <ng-container matColumnDef="plower">
              <th mat-header-cell *matHeaderCellDef> <strong>Probability of reward if Responder rejects Allocation
                  #</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.plower | number: '1.4-4'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns | slice:0:3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns | slice:0:3;"></tr>
          </table>

          <br>

          <h2>Reminder for the Allocations: </h2>
          <table mat-table [dataSource]="allocationDataSource" class="mat-elevation-z1 allocations">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="al1">
              <th mat-header-cell *matHeaderCellDef> Allocation 1 </th>
              <td mat-cell *matCellDef="let element"> {{element.al1}} </td>
            </ng-container>

            <ng-container matColumnDef="al2">
              <th mat-header-cell *matHeaderCellDef> Allocation 2 </th>
              <td mat-cell *matCellDef="let element"> {{element.al2}} </td>
            </ng-container>

            <ng-container matColumnDef="al3">
              <th mat-header-cell *matHeaderCellDef> Allocation 3 </th>
              <td mat-cell *matCellDef="let element"> {{element.al3}} </td>
            </ng-container>

            <ng-container matColumnDef="al4">
              <th mat-header-cell *matHeaderCellDef> Allocation 4 </th>
              <td mat-cell *matCellDef="let element"> {{element.al4}} </td>
            </ng-container>

            <ng-container matColumnDef="al5">
              <th mat-header-cell *matHeaderCellDef> Allocation 5 </th>
              <td mat-cell *matCellDef="let element"> {{element.al5}} </td>
            </ng-container>

            <ng-container matColumnDef="al6">
              <th mat-header-cell *matHeaderCellDef> Allocation 6 </th>
              <td mat-cell *matCellDef="let element"> {{element.al6}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="allocationColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: allocationColumns;"></tr>
          </table>

        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" matStepperNext>Next Page</button>
        </mat-card-actions>
      </mat-step>

      <mat-step state="instruction">
        <ng-template matStepLabel>Examples</ng-template>
        <br>
        <mat-card-content align="justify">
          <h2>
            Examples
          </h2>

          <table mat-table [dataSource]="dataSourceReduced" class="mat-elevation-z2 beliefprobabilities">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> <strong>Row No.</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="plarger">
              <th mat-header-cell *matHeaderCellDef> <strong>Probability of reward if Responder accepts Allocation
                  #</strong> </th>
              <td mat-cell *matCellDef="let element"> <span *ngIf="element.plarger=='...'">...</span><span
                  *ngIf="element.plarger!='...'">{{element.plarger | number: '1.4-4'}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="plower">
              <th mat-header-cell *matHeaderCellDef> <strong>Probability of reward if Responder rejects Allocation
                  #</strong> </th>
              <td mat-cell *matCellDef="let element"> <span *ngIf="element.plower=='...'">...</span><span
                  *ngIf="element.plower!='...'">{{element.plower | number: '1.4-4'}}</span> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns | slice:0:3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns | slice:0:3;"></tr>
          </table>

          <br>

          <h2>Reminder for the Allocations: </h2>
          <table mat-table [dataSource]="allocationDataSource" class="mat-elevation-z1 allocations">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="al1">
              <th mat-header-cell *matHeaderCellDef> Allocation 1 </th>
              <td mat-cell *matCellDef="let element"> {{element.al1}} </td>
            </ng-container>

            <ng-container matColumnDef="al2">
              <th mat-header-cell *matHeaderCellDef> Allocation 2 </th>
              <td mat-cell *matCellDef="let element"> {{element.al2}} </td>
            </ng-container>

            <ng-container matColumnDef="al3">
              <th mat-header-cell *matHeaderCellDef> Allocation 3 </th>
              <td mat-cell *matCellDef="let element"> {{element.al3}} </td>
            </ng-container>

            <ng-container matColumnDef="al4">
              <th mat-header-cell *matHeaderCellDef> Allocation 4 </th>
              <td mat-cell *matCellDef="let element"> {{element.al4}} </td>
            </ng-container>

            <ng-container matColumnDef="al5">
              <th mat-header-cell *matHeaderCellDef> Allocation 5 </th>
              <td mat-cell *matCellDef="let element"> {{element.al5}} </td>
            </ng-container>

            <ng-container matColumnDef="al6">
              <th mat-header-cell *matHeaderCellDef> Allocation 6 </th>
              <td mat-cell *matCellDef="let element"> {{element.al6}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="allocationColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: allocationColumns;"></tr>
          </table>

          <br>

          <p class="instruction-text">Imagine you would choose a row for Allocation 3 to state your expectations
            regarding the Responder’s action. Allocation 3 assigns you a split of 300 Coins. Depending on your
            expectation regarding the Responder’s minimum offer (demand), the left or right column is more likely to
            become relevant in determining your probability to receive the bonus. Accordingly, you may want to adjust
            your chosen row. Assuming that you are expecting the Responder ...
          </p>

          <ul>
            <li>
              <p class="instruction-text">
                to definitely ask for at most the 200 coins of Allocation 3 (i.e. 200 or less), you may want to choose a
                higher row, i.e. a lower row number. This is because you expect the left column to be more likely and
                the probability of reward is much higher for the lower row numbers. In case your expectation is wrong
                and the Responder asks for more than the 200 Coins determined by Allocation 3, the right column
                determines your bonus, and the lower row number gives you a very low probability of receiving the 250
                bonus coins.
              </p>
            </li>

            <li>
              <p class="instruction-text">
                to definitely ask for more than the 200 coins of Allocation 3, you may want to choose a lower row, i.e.
                a higher row number. This is because you expect the right column to be more likely and the probability
                of reward is much higher for the higher row numbers. In case your expectation is wrong and the Responder
                asks for at most the 200 Coins determined by Allocation 3 (i.e. 200 or less), the left column determines
                your bonus, and the higher row number gives a very low probability of receiving the 250 bonus coins.
              </p>
            </li>
          </ul>

          <p class="instruction-text">Overall, if you are very uncertain about whether the Responder asks for more, less
            or exactly the 200 Coins of Allocation 3, you may want to choose a row number that’s closer to the middle of
            the 21 rows.
          </p>

          <p class="instruction-text">Compared to Allocation 3, for Allocation 1 it might be more likely for the
            Responder to ask more than the respective 0 Coins. Thus you may want to adjust your selection more in favor
            of the right column and choose higher row numbers.</p>

          <p class="instruction-text">Compared to Allocation 3, for Allocation 6 it might be more likely for the
            Responder to ask for 500 Coins or less. Thus you may want to adjust your selection more in favor of the left
            column and choose higher rows.</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" matStepperNext>Next Page</button>
        </mat-card-actions>
      </mat-step>

      <mat-step state="instruction">
        <ng-template matStepLabel>Example continued</ng-template>
        <br>
        <mat-card-content align="justify">
          <h2>
            Example continued
          </h2>
          <table mat-table [dataSource]="dataSourceReduced" class="mat-elevation-z2 beliefprobabilities">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> <strong>Row No.</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="plarger">
              <th mat-header-cell *matHeaderCellDef> <strong>Probability of reward if Responder accepts Allocation
                  #</strong> </th>
              <td mat-cell *matCellDef="let element"> <span *ngIf="element.plarger=='...'">...</span><span
                  *ngIf="element.plarger!='...'">{{element.plarger | number: '1.4-4'}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="plower">
              <th mat-header-cell *matHeaderCellDef> <strong>Probability of reward if Responder rejects Allocation
                  #</strong> </th>
              <td mat-cell *matCellDef="let element"> <span *ngIf="element.plower=='...'">...</span><span
                  *ngIf="element.plower!='...'">{{element.plower | number: '1.4-4'}}</span> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns | slice:0:3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns | slice:0:3;"></tr>
          </table>

          <br>

          <h2>Reminder for the Allocations: </h2>
          <table mat-table [dataSource]="allocationDataSource" class="mat-elevation-z1 allocations">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="al1">
              <th mat-header-cell *matHeaderCellDef> Allocation 1 </th>
              <td mat-cell *matCellDef="let element"> {{element.al1}} </td>
            </ng-container>

            <ng-container matColumnDef="al2">
              <th mat-header-cell *matHeaderCellDef> Allocation 2 </th>
              <td mat-cell *matCellDef="let element"> {{element.al2}} </td>
            </ng-container>

            <ng-container matColumnDef="al3">
              <th mat-header-cell *matHeaderCellDef> Allocation 3 </th>
              <td mat-cell *matCellDef="let element"> {{element.al3}} </td>
            </ng-container>

            <ng-container matColumnDef="al4">
              <th mat-header-cell *matHeaderCellDef> Allocation 4 </th>
              <td mat-cell *matCellDef="let element"> {{element.al4}} </td>
            </ng-container>

            <ng-container matColumnDef="al5">
              <th mat-header-cell *matHeaderCellDef> Allocation 5 </th>
              <td mat-cell *matCellDef="let element"> {{element.al5}} </td>
            </ng-container>

            <ng-container matColumnDef="al6">
              <th mat-header-cell *matHeaderCellDef> Allocation 6 </th>
              <td mat-cell *matCellDef="let element"> {{element.al6}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="allocationColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: allocationColumns;"></tr>
          </table>

          <br>

          <p class="instruction-text">
            Imagine you would choose a row for the Responder’s decision (for any Allocation) when the Responder
            interacts with the Human Proposer without access to an AI-system. Depending on your expectation about the
            Responder’s behavior when interacting with that specific Proposer, the left or right column is more likely
            to become relevant in determining your probability to receive the bonus. Accordingly, you may want to adjust
            your chosen row. Assuming that you are expecting the Responder ...
          </p>

          <ul>
            <li>
              <p class="instruction-text">
                to definitely ask for less from the Human Proposer without an AI-System than they would from the
                autonomous AI-System, you may want to choose a lower row number for the Human Proposer. This is because
                you expect the Responder to be more likely to accept a given Allocation and the left column thus becomes
                more likely to determine your bonus. Remember that in the left column, the reward is higher for lower
                row numbers.
              </p>
            </li>

            <li>
              <p class="instruction-text">
                to definitely ask for more from the Human Proposer without an AI-System than they would from the
                autonomous AI-System, you may want to choose a higher row number for the Human Proposer. This is because
                you expect the Responder to be less likely to accept a given Allocation and the right column thus
                becomes more likely to determine your bonus. Remember that in the right column, the reward is higher for
                higher row numbers.
              </p>
            </li>
          </ul>
          <br>

          <p class="instruction-text">
            Overall, if you are not sure whether the Responder demands more or less from the Human Proposer than from
            the autonomous AI-System, you may want to choose a similar row number for both types. The same logic applies
            to the Proposer who gets to use an AI-system, but still offers you a split themselves.
          </p>

          <p class="instruction-text">
            <strong>Note:</strong> You will learn about your Proposer type after you indicate your beliefs for all 18
            scenarios. Thus, any decision in this expectation task could be the one determining your payoff.
          </p>

        </mat-card-content>


        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="nextSection()">Proceed with the experiment</button>
        </mat-card-actions>
      </mat-step>

      <ng-template matStepperIcon="instruction">
        <mat-icon>menu_book</mat-icon>
      </ng-template>
    </mat-stepper>
  </mat-card>
</div>