<div class="basic-container">
  <mat-card class="header-card">
    <mat-card-title>
      <h1>Please read the following instructions carefully.</h1>
    </mat-card-title>
    <mat-card-content>
      <p align="justify">To ensure your understanding, the main task will commence only after you answered three
        comprehension questions
        correctly. If you fail to do so twice, you will not be able to participate in the experiment.</p>
    </mat-card-content>


    <mat-stepper linear #stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon>menu_book</mat-icon>
      </ng-template>

      <mat-step state="instruction">
        <ng-template matStepLabel>Participants and Roles</ng-template>
        <br>
        <mat-card-content align="justify">
          <h2>
            Participants and Roles
          </h2>

          <p class="instruction-text">In this HIT, you will play with three other participants. You and the other
            participants make your decisions separately, without knowing what the other one is doing.</p>

          <p class="instruction-text">Three of you are assigned the role of <strong>Proposer</strong>, the fourth one is
            assigned the
            role of <strong>Responder</strong>.</p>

          <br>
          <p class="instruction-text"><strong>Responders</strong> decide which one of the three
            <strong>Proposers</strong> they want to approach:
          </p>

          <ul>
            <li>
              <p class="instruction-text">One Proposer completes this task alone and without any help</p>
            </li>

            <li>
              <p class="instruction-text">One Proposer has an AI-System to assist them in making a decision</p>
            </li>

            <li>
              <p class="instruction-text">One Proposer is substituted by the AI-System that makes a decision on
                their
                behalf. The Proposer still receives the potential payoff from this HIT, but the decision is made by the
                AI-System autonomously.</p>
            </li>
          </ul>




          <br>

          <p class="instruction-text">The AI-System (Machine-Learning) was trained using prior interactions of
            comparable bargaining situations and participant personality data.</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperNext>
            Next Page
          </button>
        </mat-card-actions>
      </mat-step>

      <mat-step state="instruction">
        <ng-template matStepLabel>The Task</ng-template>
        <br>
        <mat-card-content align="justify">
          <h2>
            The Task
          </h2>

          <p class="instruction-text"><strong>Proposers</strong> receive 20 Coins and make an offer to the
            <strong>Responder</strong> on how to split this
            amount. The <strong>Responder</strong> can either accept or reject that offer. If the
            <strong>Responder</strong> accepts the offer, the 20
            Coins are split according to the <strong>Proposer’s</strong> offer. If the <strong>Responder</strong>
            rejects, both participants receive
            nothing (0 Coins).
          </p>

          <p class="instruction-text"><strong>Proposers</strong> will choose one of 6 possible splits to offer to the
            <strong>Responder</strong> (see
            table below).
          </p>

          <table mat-table [dataSource]="allocationDataSource" class="mat-elevation-z1 allocations">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="al1">
              <th mat-header-cell *matHeaderCellDef> Allocation 1 </th>
              <td mat-cell *matCellDef="let element"> {{element.al1}} </td>
            </ng-container>

            <ng-container matColumnDef="al2">
              <th mat-header-cell *matHeaderCellDef> Allocation 2 </th>
              <td mat-cell *matCellDef="let element"> {{element.al2}} </td>
            </ng-container>

            <ng-container matColumnDef="al3">
              <th mat-header-cell *matHeaderCellDef> Allocation 3 </th>
              <td mat-cell *matCellDef="let element"> {{element.al3}} </td>
            </ng-container>

            <ng-container matColumnDef="al4">
              <th mat-header-cell *matHeaderCellDef> Allocation 4 </th>
              <td mat-cell *matCellDef="let element"> {{element.al4}} </td>
            </ng-container>

            <ng-container matColumnDef="al5">
              <th mat-header-cell *matHeaderCellDef> Allocation 5 </th>
              <td mat-cell *matCellDef="let element"> {{element.al5}} </td>
            </ng-container>

            <ng-container matColumnDef="al6">
              <th mat-header-cell *matHeaderCellDef> Allocation 6 </th>
              <td mat-cell *matCellDef="let element"> {{element.al6}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="allocationColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: allocationColumns;"></tr>
          </table>

          <br>
          <p class="instruction-text"><strong>Responders</strong> will determine the minimum amount of Coins they are
            willing to accept from the <strong>Proposer</strong> by also choosing one of the 6 possible splits.</p>

          <ul>
            <li>
              <p class="instruction-text">In case the split chosen by the <strong>Responder</strong> earns them equal or
                less than what the <strong>Proposer</strong> offered, both are paid according to the initial
                <strong>Proposer</strong> offer. The offered split is accepted.
              </p>
            </li>

            <li>
              <p class="instruction-text">In case the split chosen by the <strong>Responder</strong> earns them more
                than what the <strong>Proposer</strong> offered, both are paid nothing. The offered split is rejected.
              </p>
            </li>
          </ul>

          <br>
          <p class="instruction-text">Accordingly, the <strong>Responder</strong> chooses a minimum share of the split
            that needs to be met to accept a <strong>Proposer's</strong> offer.</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" matStepperNext>Next Page</button>
        </mat-card-actions>
      </mat-step>

      <mat-step state="instruction">
        <ng-template matStepLabel>The Task: Examples</ng-template>
        <br>
        <mat-card-content align="justify">
          <h2>
            The Task: Examples
          </h2>

          <table mat-table [dataSource]="allocationDataSource" class="mat-elevation-z1 allocations">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="al1">
              <th mat-header-cell *matHeaderCellDef> Allocation 1 </th>
              <td mat-cell *matCellDef="let element"> {{element.al1}} </td>
            </ng-container>

            <ng-container matColumnDef="al2">
              <th mat-header-cell *matHeaderCellDef> Allocation 2 </th>
              <td mat-cell *matCellDef="let element"> {{element.al2}} </td>
            </ng-container>

            <ng-container matColumnDef="al3">
              <th mat-header-cell *matHeaderCellDef> Allocation 3 </th>
              <td mat-cell *matCellDef="let element"> {{element.al3}} </td>
            </ng-container>

            <ng-container matColumnDef="al4">
              <th mat-header-cell *matHeaderCellDef> Allocation 4 </th>
              <td mat-cell *matCellDef="let element"> {{element.al4}} </td>
            </ng-container>

            <ng-container matColumnDef="al5">
              <th mat-header-cell *matHeaderCellDef> Allocation 5 </th>
              <td mat-cell *matCellDef="let element"> {{element.al5}} </td>
            </ng-container>

            <ng-container matColumnDef="al6">
              <th mat-header-cell *matHeaderCellDef> Allocation 6 </th>
              <td mat-cell *matCellDef="let element"> {{element.al6}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="allocationColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: allocationColumns;"></tr>
          </table>
          <br>

          <p class="instruction-text"><strong>Example 1:</strong> </p>

          <ul>
            <li>
              <p class="instruction-text">A <strong>Proposer</strong> chose <strong>Allocation 2</strong> and therefore
                decided to offer the <strong>Responder</strong> 4
                Coins and to keep 16 Coins.</p>
            </li>
            <li>
              <p class="instruction-text">The <strong>Responder</strong> chose <strong>Allocation 3</strong> and
                therefore decided to accept all splits
                that pay at least 8 Coins.</p>
            </li>
            <li>
              <p class="instruction-text">The <strong>Responder's</strong> demand exceeded the
                <strong>Proposer's</strong> offer.</p>
            </li>
            <li>
              <p class="instruction-text">The split is rejected, both participants receive nothing.</p>
            </li>
          </ul>

          <br>

          <p class="instruction-text"><strong>Example 2:</strong> </p>

          <ul>
            <li>
              <p class="instruction-text">A <strong>Proposer</strong> chose <strong>Allocation 3</strong> and therefore
                decided to offer the <strong>Responder</strong> 8
                Coins and to keep 12 Coins.</p>
            </li>
            <li>
              <p class="instruction-text">The <strong>Responder</strong> chose <strong>Allocation 2</strong> and
                therefore decided to accept all splits
                that pay at least 4 Coins.</p>
            </li>
            <li>
              <p class="instruction-text">The <strong>Responder's</strong> demand did not exceed the
                <strong>Proposer's</strong> offer.</p>
            </li>
            <li>
              <p class="instruction-text">The split is accepted, both participants are paid according to the
                <strong>Proposer's</strong> offer of <strong>Allocation 3</strong>.</p>
            </li>
          </ul>

        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="nextSection()">Proceed to the Comprehension
            Section</button>
        </mat-card-actions>
      </mat-step>

      <ng-template matStepperIcon="instruction">
        <mat-icon>menu_book</mat-icon>
      </ng-template>
    </mat-stepper>
  </mat-card>
</div>