h1 {
  /* color: #5a37b8; */
  color: #3700b3;
  margin: 10px;
  font-size: 20pt;
}

p {
  color: #db5151e1;
  margin: 10px;
  font-size: large;
}

.basic-container {
  margin-top: 10px;
  /* display: flex; */
  max-width: 700px;
  /* justify-content: center; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 12pt;
  color: #283747;
}

.example-radio-button {
  margin: 5px;
}

.chart-container {
  text-align: end;
}

label {
  color: #3700b3;
  /* margin: 10px; */
  font-size: large;
}

mat-card {
  margin-bottom: 15px;
}

mat-card-actions {
  margin: 10px;
}

.example-margin {
  margin-top: 8px;
}

.mat-slider-horizontal {
  width: 400px;
}

.submit-decision {
  float: right;
  display: inline-flex;
  /* margin-right: 4%; */
  margin-left: 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .basic-container {
    margin-top: 10px;
    /* display: flex; */
    max-width: 500px;
    /* justify-content: center;
    flex-direction: column; */
    /* flex-wrap: wrap; */
    margin-left: auto;
    padding-bottom: 100px;
    margin-right: auto;
  }

  .mat-slider-horizontal {
    width: 250px;
  }

  .submit-decision {
    float: right;
    display: inline-flex;
    /* margin-right: 4%; */
    margin-left: 10px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .basic-container {
    margin-top: 10px;
    /* display: flex; */
    /* max-width: 400px; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    margin-left: 5%;
    padding-bottom: 100px;
    margin-right: 5%;
  }

  .mat-slider-horizontal {
    width: 200px;
  }

  .submit-decision {
    float: right;
    display: inline-flex;
    /* margin-right: 4%; */
    margin: 10px;
  }
}
