<div class="basic-container">
  <mat-card>
    <mat-card-title>
      <h1>Approach Decision - Choice</h1>
    </mat-card-title>
    <mat-card-content align=justify>
      <p>Select which one of the three proposers you want to bargain with.</p>
    </mat-card-content>
    <mat-card-actions>
      <label id="example-radio-group-label">Choose the Proposer you want to bargain with</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="approachDecision" [disabled]="approachDecisionConfirmed">
        <mat-radio-button class="example-radio-button" *ngFor="let proposer of proposerTypes, index as i" [value]="i+1">
          {{proposer}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-actions>

    <div *ngIf="approachDecision > 0 && approachDecision <= 3">
      <mat-card-actions align="end">
        <button class="confirm-approach-decision" mat-raised-button color="accent" (click)="confirmApproachDecision()"
          [disabled]="alreadySubmitted || approachDecisionConfirmed">Confirm Decision</button>
      </mat-card-actions>
    </div>


    <div *ngIf="approachDecision > 0 && approachDecision <= 3 && approachDecisionConfirmed">
      <mat-card-title>
        <h1>You are bargaining with the <strong>{{proposerTypes[approachDecision-1]}}</strong></h1>
      </mat-card-title>
      <mat-card-content>
        <p>Please choose the minimum offer you are still willing to accept by positioning the slider under the pie
          chart. You can see the respective splits on the right side of the chart.</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="chart-container">
          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            [options]="pieChartOptions" [colors]="pieChartColours"></canvas>
        </div>
        <mat-slider class="example-margin" [max]=6 [min]=1 [step]=1 [(ngModel)]="allocationSelected" [tickInterval]=1
          aria-labelledby="example-name-label" (input)="onInputChange($event)" [disabled]="alreadySubmitted">
        </mat-slider>
        <strong>Responder: {{pieChartData[1]}}, Proposer: {{pieChartData[0]}}</strong>
        <!-- <strong>Allocation: {{allocationSelected}}</strong> -->
      </mat-card-actions>
    </div>
  </mat-card>

  <div *ngIf="approachDecision > 0 && approachDecision <= 3 && approachDecisionConfirmed">
    <button class="submit-decision" mat-raised-button color="primary" (click)="submitDecision()"
      [disabled]="alreadySubmitted">Submit your decision and
      minimum offer</button>
    <button class="submit-decision" mat-raised-button color="accent" (click)="nextSection()"
      [disabled]="!alreadySubmitted">Next Section</button>
  </div>
</div>