<div class="basic-container">
  <mat-card>
    <mat-card-title>
      <h1>This is the <strong>Approach Decision</strong> section!</h1>
    </mat-card-title>
    <mat-card-content>
      <p>You will need to select any one of the three types of proposers you want to bargain with !</p>
    </mat-card-content>
    <mat-card-actions>
      <label id="example-radio-group-label">Pick the proposer you want to bargain with</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="approachDecision">
        <mat-radio-button class="example-radio-button" *ngFor="let proposer of proposerTypes, index as i" [value]="i+1">
          {{proposer}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-actions>

    <mat-card-title>
      <h1>You will need to bargain with the <strong>{{proposerTypes[approachDecision-1]}}</strong> proposer in this
        section!</h1>
    </mat-card-title>
    <mat-card-content>
      <p>Indicate the minimum offer you (The Responder) are still willing to accept from the proposer by choosing from
        the same Allocations as before ::</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="chart-container">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [colors]="pieChartColours"></canvas>
      </div>
      <mat-slider class="example-margin" [max]=6 [min]=1 [step]=1 [(ngModel)]="allocationSelected" [tickInterval]=1
        aria-labelledby="example-name-label" (input)="onInputChange($event)">
      </mat-slider>
      <strong>Allocation: {{allocationSelected}}</strong>
    </mat-card-actions>
  </mat-card>
  <button class="submit-decision" mat-raised-button color="primary" (click)="submitDecision()" [disabled]="alreadySubmitted">Submit your decision and
    minimum offer</button>
  <button class="submit-decision" mat-raised-button color="accent" (click)="nextSection()" [disabled]="!alreadySubmitted">Next Section</button>
</div>