.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

h1 {
  color: #5a37b8;
  margin: 5px;
  font-size: 20pt;
}

p {
  color: #db5151e1;
  margin: 5px;
  font-size: large;
}

.basic-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 33%;
  margin-right: 33%;
}

.tp-card {
  margin: 5px;
}

.submit {
  margin: 5px;
  max-width: 150px;
}

.next-section {
  margin: 5px;
  max-width: 150px;
}


@media only screen and (max-width: 992px) {
  .basic-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .basic-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
  }
}