<div class="basic-container">
  <h1>Attention Check Questions</h1>
  <p>Make sure to answer all the questions correctly, otherwise you won't be allowed for taking the further tests!</p>
  <div *ngFor="let question of questions; let i=index">
    <mat-card class="tp-card">
      <label id="example-radio-group-label">{{i+1}}. {{question.question_text}}</label>
      <mat-radio-group required aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="question.answerSelected">
        <mat-radio-button class="example-radio-button" *ngFor="let choice of question.choices" [value]="choice.id">
          {{choice.choice_text}}
        </mat-radio-button>
      </mat-radio-group>
      <!-- <div>Selected ID: {{question.answerSelected}}</div> -->
    </mat-card>
  </div>

  <button mat-raised-button color="primary" (click)="postAttentionAnswers()" [disabled]="alreadySubmitted"
    class="submit">Submit</button>
  <button mat-raised-button color="accent" (click)="nextSection()" class="next-section" [disabled]="!alreadySubmitted">Next Section</button>
</div>