/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$custom-typography: mat-typography-config($font-family: '"Open Sans", sans-serif;');
@include mat-core($custom-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.comprehension-submit-passed-dialog > mat-dialog-container {
  background-color: #25b177;
}

.comprehension-submit-failed-dialog > mat-dialog-container {
  background-color: rgb(194, 61, 46);
}

.carousel-control-next-icon {
  background-image: url("assets/icons/chevron-right.svg");
  background-size: 150%;
}
.carousel-control-prev-icon {
  background-image: url("assets/icons/chevron-left.svg");
  background-size: 150%;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

.carousel-item {
  transition: 0.15s ease-in-out !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.dss-progress-spinner circle {
  stroke: #3cb043 !important;
}

@media only screen and (max-width: 768px) {
  .carousel-control-next-icon {
    margin-left: 5px;
    background-size: 225%;
  }
  .carousel-control-prev-icon {
    margin-right: 5px;
    background-size: 225%;
  }
}