<div class="card-container">
  <mat-card class="home-card">
    <mat-card-title>
      <h1><strong>Welcome to our task!</strong></h1>
      
      <h1>All your responses will be kept completely confidential and you will
        remain anonymous.</h1>
    </mat-card-title>
    <mat-card-content>
      <br>
      <p>The task will take approximately <strong>20</strong> minutes to complete. You will be paid <strong>£1.00</strong> for completing the task.
        Additionally, you can earn a bonus of <strong>up to £7.5</strong> that depends on your actions, as explained in more detail on the
        next pages.</p>

      <p>During the HIT, we will not speak of Pounds, but Coins. Your entire payoff will first be calculated in Coins.
        The Coins you earn during the HIT will be converted to Pounds at the end of the HIT. The following conversion
        rate applies: <strong>1 Coin = 0.01 £</strong></p>

      <br><br>  
      <p>Please click <strong>Proceed</strong> to start with the HIT</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="attentionCheckPage()" [disabled]=failed>{{buttonText}}</button>
    </mat-card-actions>
  </mat-card>
</div>